.video_wrapp {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding-bottom: 60px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media (max-width: 1200px) {
  // iframe {
  //   width: 90%;
  //   border-radius: 10px;
  // }
}

@media (max-width: 800px) {
  iframe {
    max-height: 300px;
  }
}

@media (max-width: 500px) {
  iframe {
    max-height: 250px;
  }
}

@media (max-width: 450px) {
  iframe {
    height: 200px;
  }
}
