.video_wrapp {
  max-width: 1440px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  video{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;

  }
}


.container{
  // width: 1440px;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}


@media (max-width: 1200px) {
  .video_wrapp{
    padding: 50px 20px;
  }
}

@media (max-width: 900px) {
  .video_wrapp{
    padding-top: 0;
  }
}