.container {
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin-bottom: 100px;
  padding: 0 20px;
}

.imgs_wrapp {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}
.photo{
  width: 40%;
  height: 40%;
}
.heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 80px;
  h1{
    font-weight: 700;
    font-size: 3.2em;
    margin-top: 80px;
    margin-bottom: 35px;
    span{
      position: relative;
      font-size: 50px;
      .line {
        z-index: -5;
        position: absolute;
        top: 65%; 
        left: -2%;
        right: 0;
        margin: auto; 
        background-color: rgba(255, 204, 51, 1);
        width: 104%; 
        height: 14px;
      }
    }
  }

}
.ball {
  width: 10%;
  height: 10%;
}
.stars {
  width: 50%;
  margin-top: 50px;
}

.img_box {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  .photo{
    width: 40%;
    height: 100%;
  }
  .ball {
    width: 10%;
    height: 25%;
  }
}

@media (max-width:1219px) {
  .heading{
    padding: 0 10px;
    margin: 50px 0;
  }
  .imgs_wrapp {
    gap: 30px;
  }
}

@media (max-width:1200px) {
  .heading{

    h1{
      margin-top: 20px;
      font-size: 2em;
      span{
        font-size: 1em;
        .line{
          height: 8px;
        }
      }
    }

  }
}

@media (max-width:780px) {
  .content{
    margin-bottom: 50px;
  }
  .heading{
    margin: 10px 0;
    align-items: center;
  }
  .stars {
    width: 50%;
    margin-top: 20px;
  }
}


@media (max-width: 650px) {
  .heading {
    h1 {
      font-size: 1.5em;
    }
    .line{
      height: 10px;
    }
  }
}
