.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
}

.heading {
  position: relative;
  text-align: center; 
  h1 {
    font-weight: 700;
    font-size: 3em;
    margin-top: 80px;
    margin-bottom: 35px;
    position: relative;
  }

  .line {
    z-index: -5;
    position: absolute;
    top: 65%; /* Вертикально центрирует линию относительно заголовка */
    left: -2%;
    right: 0;
    margin: auto; /* Центрирует линию горизонтально */
    background-color: rgba(255, 204, 51, 1);
    width: 104%; /* Ширина линии относительно контейнера */
    height: 14px; /* Фиксированная высота линии */
  }

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;

  span {
    text-align: center;
    font-size: 24px;
  }
}

@media (max-width: 1200px) {
  .heading {
    padding: 0 10px;

    h1 {
      font-size: 2em;
    }

    margin-bottom: 100px;

    span {
      font-size: 1em;
    }
  }

  .line {
    width: 70%; /* Увеличиваем ширину линии для этого разрешения */
  }
}

@media (max-width: 880px) {
  .heading {
    margin-bottom: 0;

    h1 {
      margin-top: 40px;
    }
  }

  .line {
    width: 90%; /* Увеличиваем ширину линии для этого разрешения */
  }
}



@media (max-width: 650px) {
  .heading {
    h1 {
      font-size: 1.5em;
    }
    .line{
      height: 10px;
    }
  }
}

@media (max-width: 420px) {
  .heading {
    h1 {
      font-size: 1.2em;
    }
    .line{
      height: 10px;
    }
  }
}