.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(18, 18, 18, 0.95);
  opacity: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal__active{
  z-index: 10;
  opacity: 1;
  pointer-events: all;
}

.modal__content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  background-color: rgba(39,39,39);
  opacity: 0.9;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(0.5);
  transition: 0.4s all;
  width: 500px;
  color: white;
  gap: 20px;
  h2{
    width: 100%;
    text-align: center;
  }
}

.content_wrapp{
  padding: 30px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%; /* Добавлено для предотвращения выхода за границы */
  box-sizing: border-box; /* Убедитесь, что padding не увеличивает ширину */
  h1{
    text-align: center;
  }
}

.modal__content__active{
  transform: scale(1);
}

.input_wrapp{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  p{
    color: red;
  }
  input, textarea{
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    border: none;
    border-radius: 12px;
    padding: 15px 10px;
    outline: none;
    color: rgba(131, 145, 161, 1);
    font-size: 15px;
    box-sizing: border-box; 
  }
  textarea{
    height: 120px;
  }
}

.submitBtn{
  color: black !important;
  cursor: pointer;
  width: 100%;
  padding: 20px 10px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 20px;
  background: rgba(255, 204, 51, 1);
  box-sizing: border-box; 
}

.icon_wrapp{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .closeIcon{
    cursor: pointer;
  }
}
.successMessage{
  color: green;
}

.errorMessage{
  color: red;
}
.file_wrapp{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
	line-height: 22px;
	box-sizing: border-box;
	transition: background-color 0.2s;
  padding: 16px 12px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  color: rgba(131, 145, 161, 1);
  display: flex;
  gap: 13px;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}



@media (max-width: 780px) {
  .modal__content{
    width: 95vw;
  }
}

@media (max-height: 900px) {
  .content_wrapp{
    height: 90vh;
  }
}



@media (max-width: 420px) {
  .content_wrapp{
    h1{
      font-size: 25px;
    }
  }
}