.card{
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid rgba(131, 145, 161, 1);
  padding: 25px 30px;
  border-radius: 20px;
  background-color: rgba(232, 232, 232, 1);
  color: black;
  height: 400px;
  .vacancy_wrapp{
    display: flex;
    align-items: center;
    .vacancy_name{
      display: flex;
      flex-direction: column;
      gap: 10px;
      p{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }

  .description {
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Количество строк, после которых добавляется многоточие */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


.conditions_wrapp{
  display: flex;
  justify-content: space-between;
  .salary{
    color: rgba(47, 102, 246, 1);
    span{
      color: black;
    }
  }
  .conditions{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  button{
    background: rgba(255, 204, 51, 1);
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    width: 45%;
  }
}
@media (max-width: 1300px) {
  .card{
    .vacancy_wrapp{
      .vacancy_name{
        h1{
          font-size: 1.5em;
        }
        p{
          font-size: 14px;
        }
      }
    }
  }

}

@media (max-width: 950px) {
  .conditions_wrapp{
    button{
      height: 50px;
      font-size: 13.5px;
    }
  }
}

@media (max-width: 820px) {
  .conditions_wrapp{
    align-items: center;
    button{
      // font-size: 15px;
      padding: 10px;
      width: 45%;
      height: 50px;
    }
  }
}

@media (max-width: 820px) {
  .conditions_wrapp{

    button{
      font-size: 16px;
    }
  }
}

@media (max-width: 530px) {
  .conditions_wrapp{
    button{
      font-size: 15px;
    }
  }
}

@media (max-width: 450px) {
  .card{
    height: 280px;
    padding: 15px;
    .vacancy_wrapp{
      .bagImg{
        width: 40px;
        height: 40px;
      }
      .vacancy_name{
        h1{
          font-size: 1em;
        }
      }
    }
    .description{
      font-size: 12px;
    }
  }
  .conditions_wrapp{
    .conditions{
      font-size: 12px;
    }
    button{
      font-size: 12px;
      height: 35px;
      
    }
  }
}