.container{
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
}

.heading{
  position: relative;
  text-align: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
  h1{
    font-weight: 700;
    font-size: 3.2em;
    margin-top: 80px;
    margin-bottom: 35px;
    span{
      position: relative;
      font-size: 50px;
      .line {
        z-index: -5;
        position: absolute;
        top: 65%;
        left: -2%;
        right: 0;
        margin: auto; 
        background-color: rgba(255, 204, 51, 1);
        width: 104%; 
        height: 14px; 
      }
    }
  }


  span {
    font-size: 24px;
    text-align: center;
  }
}

.cards_wrapp{
  // display: flex;
  // width: 100%;
  // align-items: center;
  // justify-content: center;
  // gap: 35px;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 35px;
}

.cards_box{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}


@media (max-width: 1500px) {
  .cards_wrapp{
    padding: 0 20px;
  }
}


@media (max-width:1200px) {
  .heading{
    padding: 0 10px;
    h1{
      font-size: 2em;
      span{
        font-size: 1em;
        .line{
          height: 8px;
        }
      }
    }
    span {
      font-size: 1em;
    }
  }
}


@media (max-width:780px) {
  .container{
    margin-top: 0;
  }
  .heading {
    margin-bottom: 50px;
  }
  .cards_wrapp{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 35px;
  }
}



@media (max-width: 650px) {
  .heading {
    h1 {
      font-size: 1.5em;
    }
    .line{
      height: 10px;
    }
  }
}
